#pairRanking {
	margin-top: 50px;
}

#pairRanking #hero-image {
	width: 13%;
}

#pairRanking #hero-image img {
	width: 100%;
}

#pairRanking #classPicker {
	width: 77%;
}

#pairRanking #pairButtons button {
	margin: 50px 10px 0 -20px;
}

#pairRanking #userData {
	width: 10%;
}

#pairRanking h1 {
	text-align: center;
	margin-top: 0;
}

#cardOne {
	width: 50%;
	margin-top: -40px;
}

#cardTwo {
	width: 50%;
	margin-top: -40px;
}

#cardOne img {
	padding-right: 50px;
}

#cardTwo img {
	padding-left: 50px;
}