/*use box-sizing for all elements*/
/** {*/
	/*-webkit-box-sizing: border-box;*/
	/*-moz-box-sizing: border-box;*/
	/*box-sizing: border-box;*/
/*}*/

* {
	/*border: 1px solid lightblue !important;*/
}

html {
	font-family: sans-serif;
}

/*GENERAL*/
.centered {
	margin-left: 20%;
	margin-right: 20%;
}

.vertical-spacer {
	height: 20px;
}

.text-big {
	font-size: 1.25em;
}

.text-title {
	font-size: 8em;
	font-weight: bold;
}

.pure-button-active {
	background-color: #75bcff;
}

.pure-button {
	/*height: 24px;*/
	/*font-size: small;*/
}
#host {
	margin-top: 40px;
}

#welcome h1:first-child {
	font-size: 6em;
	font-weight: bolder;
}

#welcome h1:nth-child(2) {
	font-size: 1em;
	margin-top: -50px;
}

#menu {
	background-color: #000000;
	color: lightgray;
}

#menu span {
	font-weight: bolder;
	color: inherit;
}

#menu a {
	color: inherit;
}

#menu li.pure-menu-selected {
	color: white;
}

#menu li a:hover {
	background-color: #232323;
}

/*categories*/
.minion {
	color: darkorange;
}

.spell {
	color: dodgerblue;
}

.weapon {
	color: darkgreen;
}

/*data grid*/
.gridStyle {
	border: 1px solid rgb(212,212,212);
	width: 400px;
	height: 300px;
}

.card-preview
{
	text-decoration: none;
	position: relative;
}

.card-preview div
{
	display: none;
}

.card-preview:hover div
{
	display: block;
	position: absolute;
	z-index:1000;
	margin-top:-250px;
	margin-left:50px;
}