/** {*/
	/*border: 1px solid lightblue !important;*/
/*}*/

html {
	font-family: sans-serif;
}

/*GENERAL*/

.alert {
	padding: 10px 30px;
	margin-top: 50px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.columns25 {
	width: 25%;
}

.columns33 {
	width: 33%;
}

.columns50 {
	width: 50%;
}

.columns100 {
	width: 100%;
}

.columnsRight {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.columnsCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.columnsLeft {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.textLeft {
	text-align: left;
}

.textRight {
	text-align: right;
}

.textCenter {
	text-align: center;
}

h1 {
	font-size: 3em;
	font-weight: bold;
}

.glowhover:hover {
	cursor: pointer;
	-webkit-filter: drop-shadow(0px 0px 20px rgb(0, 115, 255));
	/*filter: url(shadow.svg#drop-shadow);*/
}

.centered {
	margin-left: 10%;
	margin-right: 10%;
}

.pure-button-active {
	background-color: #75bcff;
}

.customMessageBox {
	background-color: white;
	padding: 5px 20px 20px 20px;
}

#host {
	margin-top: 40px;
}

#welcome h1:first-child {
	font-size: 6em;
	font-weight: bolder;
}

#welcome h1:nth-child(2) {
	font-size: 1em;
	margin-top: -50px;
}

#menu {
	background-color: #000000;
	color: lightgray;
}

#menu span {
	font-weight: bolder;
	color: inherit;
}

#menu a {
	color: inherit;
}

#menu li.pure-menu-selected {
	color: white;
}

#menu li a:hover {
	background-color: #232323;
}

/*categories*/
.minion {
	color: darkorange;
}

.spell {
	color: dodgerblue;
}

.weapon {
	color: darkgreen;
}

/*data grid*/
.gridStyle {
	border: 1px solid rgb(212,212,212);
	width: 400px;
	height: 300px;
}

.card-preview
{
	text-decoration: none;
	position: relative;
}

.card-preview div
{
	display: none;
}

.card-preview:hover div
{
	display: block;
	position: absolute;
	z-index:1000;
	margin-top:-250px;
	margin-left:50px;
}

/*arena rank*/
.arTableCell {
	vertical-align: middle;
	horiz-align: center;
}

.arPickedMark {
	margin: -10px 0 10px 0;
}

.arTableCell img {
	margin-top: -10px;
}

.arTableCell h1 {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

/*stats*/
#stats h3 {
	margin-bottom: 4px;
	margin-top: 10px;
}

#stats table {
	margin-top: 20px;
}

/*top cards*/
#topCards {
	margin-top: 100px;
	width: 730px;
	display: none;
}

#topCards p {
	font-size: 1.5em;
	text-align: center;
}

#topCards span {
	font-weight: bold;
}

#topCards table {
	font-size: 1.125em;
	width: 400px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 0;
}

#topCards img {
	height: auto;
	width: 306px;
	margin-left: -20px;
	margin-top: -60px;
}

#topCards th:first-child {
	text-align: center;
}

#topCards td:first-child {
	width: 30px;
	text-align: center;
}

/*pair rankings*/
#pairRanking {
	margin-top: 50px;
}

#pairRanking #hero-image {
	width: 13%;
}

#pairRanking #hero-image img {
	width: 100%;
}

#pairRanking #classPicker {
	width: 77%;
}

#pairRanking #pairButtons button {
	margin: 50px 10px 0 -20px;
}

#pairRanking #userData {
	width: 10%;
}

#pairRanking h1 {
	text-align: center;
	margin-top: 0;
}

#cardOne {
	width: 50%;
	margin-top: -40px;
}

#cardTwo {
	width: 50%;
	margin-top: -40px;
}

#cardOne img {
	padding-right: 50px;
}

#cardTwo img {
	padding-left: 50px;
}