#topCards {
	margin-top: 100px;
	width: 730px;
	display: none;
}

#topCards p {
	font-size: 1.5em;
	text-align: center;
}

#topCards span {
	font-weight: bold;
}

#topCards table {
	font-size: 1.125em;
	width: 400px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 0;
}

#topCards img {
	height: auto;
	width: 306px;
	margin-left: -20px;
	margin-top: -60px;
}

#topCards th:first-child {
	text-align: center;
}

#topCards td:first-child {
	width: 30px;
	text-align: center;
}
