<div>
	<div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal" id="menu">
		<span class="pure-menu-heading">HearthCrowdRank</span>
		<ul data-bind="foreach: router.navigationModel">
			<li data-bind="css: { 'pure-menu-selected': isActive }">
				<a data-bind="attr: { href: hash }, text: title"></a>
			</li>
		</ul>
	</div>

	<div id="host">
		<!--<div class="page-host bg-light" data-bind="router: { transition:'entrance' }"></div>-->
		<div class="page-host centered" data-bind="router"></div>
	</div>
</div>