<div id="stats">
	<h3>Hero:</h3>
	<div data-bind="foreach: classes">
		<button class="pure-button" data-bind="text: displayName,
				css: { 'pure-button-active': isActive },
				click: function() { $root.filterButtonClick($data) }"></button>
	</div>
	<h3>Rarity:</h3>
	<div data-bind="foreach: rarities">
		<button class="pure-button" data-bind="text: displayName,
				css: { 'pure-button-active': isActive },
				click: function() { $root.filterButtonClick($data) }"></button>
	</div>
	<h3>Set:</h3>
	<div data-bind="foreach: sets">
		<button class="pure-button" data-bind="text: displayName,
				css: { 'pure-button-active': isActive },
				click: function() { $root.filterButtonClick($data) }"></button>
	</div>
	<table id="table_id" class="display cell-border compact"></table>
</div>
